.about-container {
    font-weight: 300;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
}
.about-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top:25px;
}
.about-footer {
    bottom: 120px;
    width: 100%;
    text-align: center;
    position: absolute;
}