.logger-content {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.logger-container{
    height: 100%;
}

.shell-wrap {
    // width: 500px;
    width: 98%;
    height: 98%;
    border-radius: 3px;
  }
  
  .shell-top-bar {
    text-align: center;
    color: #525252;
    padding: 5px 0;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
    font-size: 0.85em;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    // border-top-left-radius: 3px;
    // border-top-right-radius: 3px;
    background: #f7f7f7; 
  }
  .shell-body {
    height: 100%;
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: .9em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .shell-body li:before {
    content: '$';
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px;
  }